{% extends 'forn_el_batoul/layout.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block head %}

  <!-- Change Language javascript file -->
  <script src="{% static 'forn_el_batoul/language.js' %}"></script>

  <!-- stylesheet -->
  <link href="{% static 'forn_el_batoul/home.css' %}" rel="stylesheet">

  <script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function dropdown() {
      document.getElementById("myDropdown").classList.toggle("show");
      document.querySelector("#dropbtn").style.display = 'none';
      document.querySelector("#dropbtn_open").style.display = 'block';
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
            document.querySelector("#dropbtn").style.display = 'block';
            document.querySelector("#dropbtn_open").style.display = 'none';
          }
        }
      }
    }

    // Close the dropdown if the user clicks outside of it
    window.ontouchend = function(event) {
      if (!event.target.matches('.dropbtn') && !event.target.matches('#myDropdown a')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
            document.querySelector("#dropbtn").style.display = 'block';
            document.querySelector("#dropbtn_open").style.display = 'none';
          }
        }
      }
    }
  </script>

  <script type="text/javascript" src="{% static 'forn_el_batoul/home.js' %}"></script>

{% endblock %}

{% block body %}

  <!-- Identifying which page -->
  <input type="hidden" name="page" value="home">

  <!-- Main container -->
  <div class="main-container">
      <!-- navbar -->
      <div class="navbar">

          <!-- Header -->
          <div class="header">
              <!-- Icon -->
              <img src="{% static 'forn_el_batoul/media/oven-icon.png' %}" alt="oven-icon">

              <!-- forn el baoul greeting -->
              <span id="heading_title">Forn el Batoul</span>
          </div>

          <!-- dropdown -->
          <div class="dropdown">
              <i class="fa-solid fa-bars dropbtn" onclick="dropdown()" id="dropbtn"></i>
              <i class="fa-solid fa-bars-staggered dropbtn" style="display: none;" id="dropbtn_open"></i>

              <div id="myDropdown" class="dropdown-content">
                  <a class="drop_1" href="{% url 'home' %}">Contact us</a>
                  <a class="drop_2" href="{% url 'home' %}">Delivery</a>
                  <a class="drop_3" href="{% url 'home' %}">Location</a>
                  <a class="drop_4" href="{% url 'home' %}">Working hours</a>
                  <a class="drop_5" href="{% url 'index' %}">Menu</a>
              </div>
          </div>

      </div>
      <!-- End of navbar -->

      <!-- bottom container -->
      <div class="bottom-container">

        <!-- left container -->
        <div class="left-container">

          <!-- Serach engine -->
          <div class="search-engine">
            <div class="search-1">
              <i class="fa-solid fa-magnifying-glass-arrow-right" id="search_icon"></i>
              <input placeholder="Search Food">
            </div>
            <div class="search-2">
              <div></div>
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
          <!-- End of serach engine -->

          <!-- welcoming img -->
          <div class="welcoming-img">
            <span id="img_text">Sales of <br> Today</span>
          </div>
        </div>

        <!-- right container -->
        <div class="right-container">
          <!-- Head -->
          <div class="head">
            <span id="food_categories_title">Food Categories</span>
            <a id="view_all" href="{% url 'main_menu' %}">View All</a>
          </div>

          <!-- food categories -->
          <div class="food-categories">

            {% for category in food_categories %}
              <!-- Give the right id -->
              {% if category.title == 'Manakesh' %}
                <div class="manakesh category">
              {% elif category.title == 'Pizza' %}
                <div class="pizza category">
              {% elif category.title == 'Pastries' %}
                <div class="pastries category">
              {% else %}
                <div class="snacks category">
              {% endif %}

                  <!-- Category image -->
                  <div class="category-img" style="background-image: url('{{ category.img }}');">&nbsp;</div>

                  <!-- footer -->
                  <div class="category-footer">
                    <div>
                      <span class="category-name">{{ category.title }}</span>
                      <span class="details">12 menu</span>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                  </div>
                  <!-- End of footer -->

                </div>
            {% endfor %}

          </div>
          <!-- End of food categories -->

        </div>
      </div>
  </div>
  <!-- End Main container -->

{% endblock %}    