<!doctype html>

{% load static %}

<html lang="en" class="no-js">
<head>

	<!-- Change Language javascript file -->
	<script src="{% static 'forn_el_batoul/language.js' %}"></script>

	<!-- title -->
	<title>Forn el Batoul</title>

	<!-- icon -->
	<link href="{% static 'forn_el_batoul/media/forn-logo.png' %}" rel="icon">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'forn_el_batoul/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'forn_el_batoul/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'forn_el_batoul/modernizr.js' %}"></script> <!-- Modernizr -->
  	
</head>
<body>
	<!-- Identifying which page -->
	<input type="hidden" name="page" value="select-language">


	<section class="cd-intro">
		<div class="cd-intro-content mask">
			
			<h1 data-content="Forn El Batoul Backery"><span>Forn El Batoul Backery</span></h1>
			<div class="action-wrapper">
				<p>
					<a href="{% url 'home' %}" id="english" class="cd-btn main-action">English</a>
					<a href="{% url 'home' %}" id="arabic" class="cd-btn" style="color: #000000;">Arabic</a>
				</p>
			</div>
		</div>
	</section>

</body>
</html>