.right-container {
    width: 100%;
    .food-categories { 
       
        .manakesh, .pizza, .pastries, .snacks{
            margin: 0 0 20px 0;
        }
        .manakesh, .pastries {
            margin-right: 10px;
        }
        .pizza, .snacks{
            margin-left: 10px;
        }
        .category {
            flex-direction: row;
            align-items: center;
            min-height: 100px;
            .category-footer {
                width: 75%;
                height: 100%;
            }
            .category-img {
                border-radius: 15px 0 0 15px;
                height: 100%;
            }
        }
    }
}