{% extends 'forn_el_batoul/layout.html' %}

{% load static %}

{% block title %}Menu{% endblock %}

{% block head %}
    <!-- Stylesheet -->
    <link href="{% static 'forn_el_batoul/main_menu.css' %}" rel="stylesheet">

    <script src="{% static 'forn_el_batoul/main_menu.js' %}"></script>

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function dropdown() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
    
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    
        // Close the dropdown if the user clicks outside of it
        window.ontouchend = function(event) {
          if (!event.target.matches('.dropbtn') && !event.target.matches('#myDropdown a')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>

{% endblock %}

{% block body %}
    <!-- Identifying which page -->
    <input type="hidden" name="page" value="main_menu">

    <!-- main menu conatiner -->
    <div id="main_menu_container">
        <!-- image slider -->
        <div class="slideshow-container">

            <!-- Top -->
            <div class="slider_top">
                <a href="{% url 'home' %}" class="return_btn top_btn">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                
                <!-- dropdown -->
                <div class="dropdown">
                    <div class="top_btn">
                        <i class="fa-solid fa-ellipsis dropbtn" onclick="dropdown()" style="font-size: 20px; transition: none;" id="dropbtn"></i>
                    </div>
                    
                    <div id="myDropdown" class="dropdown-content">
                        <a id="contact_us_drp" href="{% url 'contact_us' %}">Contact us</a>
                        {% if current_user.is_superuser %}
                            <a onclick="edit('edit')">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Bottom -->
            <div class="slider_bottom">
                <div class="wrapper dot-0" onclick="currentSlide(0)"><span class="dot"></span></div>
                <div class="wrapper dot-1" onclick="currentSlide(1)"><span class="dot"></span></div>
                <div class="wrapper dot-2" onclick="currentSlide(2)"><span class="dot"></span></div>
                <div class="wrapper dot-3" onclick="currentSlide(3)"><span class="dot"></span></div>
                <div class="wrapper dot-4" onclick="currentSlide(4)"><span class="dot"></span></div>
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>
        <!-- End of slide show container -->

        <!-- main container -->
        <div class="top_container">
            <!-- head -->
            <div id="head">
                <div class="rating">
                    <img src="{% static 'forn_el_batoul/media/star.png' %}" rel="icon">
                    <span>4.7</span>
                </div>
                <div class="shipping">
                    <img src="{% static 'forn_el_batoul/media/Delivery.png' %}" rel="icon">
                    <span>3$</span>
                </div>
                <div class="time">
                    <i class="fa-regular fa-clock"></i>
                    <span>20 min</span>
                </div>
            </div>
            <!-- End of head -->

            <!-- forn el batoul greeting -->
            <span class="greeting">Forn El Batoul Menu</span>
            <p class="description">Our products are always made fresh to order and served hot and delicious. Experience the taste of our unique products!</p>

        </div>
        <!-- End of main container -->

        <!-- scrolling cards -->
        <div class="scrolling-wrapper">
            <a href="#manakish" class="card card-1"><span>Manakish</span></a>
            <a href="#pizza" class="card card-2"><span>Pizza</span></a>
            <a href="#pastries" class="card card-3"><span>Pastries</span></a>
            <a href="#snacks" class="card card-4"><span>Snacks</span></a>
            <a href="#" class="card card-5"><span>Cold Drinks</span></a>
        </div>
        <!-- End of scrolling cards -->

        <!-- Manakish -->
        <div class="category" id="manakish">

            <!-- header-->
            <div class="header">
                <!-- Tite -->
                <span class="title">Manakish</span>
                <span class="price_heading">Price</span>
            </div>

            <div style="display: flex; justify-content: flex-end;">
                <button id="done" onclick="edit('done')">Done</button>
            </div>
            

            <!-- menu choices -->
            {% for choice in manakish %}
                {% if searched == choice.english_choice or searched == choice.arabic_choice %}
                    <div class="choice" id="searched" style="scroll-margin-top: 75px;">
                {% else %}
                    <div class="choice">
                {% endif %}
                    <div>
                        {% if choice.description == "" %}
                            <span class="choice_name english" style="margin-top: 5px; margin-bottom: 5px;">{{ choice.english_choice }}</span>
                            <span class="choice_name arabic" style="margin-top: 5px; margin-bottom: 5px; display: none;">{{ choice.arabic_choice }}</span>
                        {% else %}
                            <span class="choice_name english" style="padding-top: 6px;">{{ choice.english_choice }}</span>
                            <span class="choice_name arabic" style="margin-top: 5px; margin-bottom: 5px; display: none;">{{ choice.arabic_choice }}</span>
                            <span class="choice_description english">{{ choice.english_description }}</span>
                            <span class="choice_description arabic" style="display: none;">{{ choice.arabic_description }}</span>
                        {% endif %}
                    </div>
                    
                    <!-- If user is superuser give the ability to change the prices -->
                    <form class="change_price_container" action="{% url 'change_price' %}" method="post" style="display: none;">
                        {% csrf_token %}
                        <input type="text" name="new_price" value="{{ choice.price }}">
                        <input type="hidden" name="choice_id" value="{{ choice.id }}">
                        <input type="submit" value="update">
                    </form>
                    <span class="choice_price">{{ choice.price }},000 LBP</span> 
                </div>
            {% endfor %}
            <!-- End of menu choices -->
            
        </div>
        <!-- End of manakish -->

        <!-- Pizza -->
        <div class="category" id="pizza">

            <!-- header-->
            <div class="header">
                <!-- Tite -->
                <span class="title">Pizza</span>
                <div class="pizza_price_container_small" style="display: flex;">
                    <span class="price small_screen key" style="margin-right: 5px;">Price:</span>
                    <span class="price small_screen pizza_price value"></span>
                </div>
                
            </div>

            <!-- sizes -->
            <div style="visibility: hidden; height: 0px;" id="rates">{{ pizza_rates|safe }}</div>
            <div class="header_2">
                <div class="sizes">
                    <span>Sizes:</span>
                    <button onclick="selectPrice('small')" id="small">Small</button>
                    <button onclick="selectPrice('medium')" id="medium">Medium</button>
                    <button onclick="selectPrice('large')" id="large">Large</button>
                </div>
                <div class="pizza_price_container" style="display: flex;">
                    <span class="price large_screen key" style="margin-right: 5px;">Price: </span>
                    <span class="price large_screen pizza_price value"></span>
                </div>
            </div>

            <!-- If user is superuser give the ability to change the prices -->
            <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 20px;">
                <form class="change_price_container" style="width: 100%; max-width: 400px; display: none;" action="{% url 'change_rate' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="new_price" placeholder="New Price">
                    <select id="size" name="size" style="margin-bottom: 5px;">
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>                          
                    <input type="submit" value="update">
                </form>
            </div>
            

            <!-- menu choices -->
            {% for choice in pizza %}
                {% if searched == choice.english_choice or searched == choice.arabic_choice %}
                <div class="choice" id="searched" style="scroll-margin-top: 75px;">
                {% else %}
                    <div class="choice">
                {% endif %}
                    <div>
                        {% if choice.description == "" %}
                            <span class="choice_name english" style="margin-top: 5px; margin-bottom: 5px;">{{ choice.english_choice }}</span>
                            <span class="choice_name arabic" style="margin-top: 5px; margin-bottom: 5px; display: none;">{{ choice.arabic_choice }}</span>
                        {% else %}
                            <span class="choice_name english" style="padding-top: 6px;">{{ choice.english_choice }}</span>
                            <span class="choice_name arabic" style="padding-top: 6px; display: none;">{{ choice.arabic_choice }}</span>
                            <span class="choice_description english">{{ choice.english_description }}</span>
                            <span class="choice_description arabic" style="display: none;">{{ choice.arabic_description }}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            
            <!-- End of menu choices -->
            
        </div>
        <!-- End of pizza -->

        <!-- Pastries -->
        <div class="category" id="pastries">

            <!-- header-->
            <div class="header">
                <!-- Tite -->
                <span class="title">Pastries</span>
                <span class="price_heading">Price</span>
            </div>
            
            <!-- menu choices -->
            {% for choice in pastries %}
                {% if searched == choice.english_choice or searched == choice.arabic_choice %}
                    <div class="choice" id="searched" style="scroll-margin-top: 75px;">
                {% else %}
                    <div class="choice">
                {% endif %}
                    <div>
                        {% if choice.description == "" %}
                            <span class="choice_name english" style="margin-top: 5px; margin-bottom: 5px;">{{ choice.english_choice }}</span>
                            <span class="choice_name arabic" style="margin-top: 5px; margin-bottom: 5px; display: none;">{{ choice.arabic_choice }}</span>
                        {% else %}
                            <span class="choice_name english" style="padding-top: 6px;">{{ choice.english_choice }}</span>
                            <span class="choice_name arabic" style="padding-top: 6px; display: none;">{{ choice.arabic_choice }}</span>
                            <span class="choice_description english">{{ choice.english_description }}</span>
                            <span class="choice_description arabic" style="display: none;">{{ choice.arabic_description }}</span>
                        {% endif %}
                    </div>
                    <!-- If user is superuser give the ability to change the prices -->
                    <form class="change_price_container" action="{% url 'change_price' %}" method="post" style="display: none;">
                        {% csrf_token %}
                        <input type="text" name="new_price" value="{{ choice.price }}">
                        <input type="hidden" name="choice_id" value="{{ choice.id }}">
                        <input type="submit" value="change">
                    </form>
                    <span class="choice_price">{{ choice.price }},000 LBP</span>
                    
                </div>
            {% endfor %}

        </div>
        <!-- End of pastries -->

        <!-- Snacks -->
        <div class="category" style="padding-bottom: 50px;" id="snacks">

            <!-- header-->
            <div class="header">
                <!-- Tite -->
                <span class="title">Snacks</span>
            </div>
            
            <!-- Coming soon -->
            <div class="choice" style="justify-content: center;">
                <div>
                    <span class="choice_name" style="color: #B79B4B; margin: 5px 0 5px 0;">Coming Soon!</span> 
                </div>
            </div>

        </div>
        <!-- End of snacks -->

    </div>
    <!-- End of main container -->
{% endblock %}