@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
.body_container {
  min-height: 100vh;
  background-image: url("/static/forn_el_batoul/media/main-forn.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  width: 100%;
  max-width: 1160px;
  height: 100%;
  margin: 20px 10px 20px 10px;
  border-radius: 10px;
  background-color: #000000;
  /* flexbox */
  display: flex;
}
@media (min-width: 1500px) {
  .main_container {
    max-width: 1400px;
  }
}

/* Information container */
.information_container {
  height: 610px;
  width: 380px;
  background-color: #ffffff;
  border-radius: 10px 0 0 10px;
  /* flexbox */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* Container */
  /* title */
  /* description */
  /* working hours */
  /* End of working hours */
  /* Location */
  /* Contact us */
}
.information_container .container_1, .information_container .working_hours, .information_container .location, .information_container .contact_us {
  width: 80%;
  /* flexbox */
  display: flex;
  flex-direction: column;
}
.information_container .title {
  color: #990C0C;
  font-size: 20px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
}
.information_container .description {
  color: #292C37;
  font-size: 14px;
  font-family: "Sen", sans-serif;
  font-weight: 400;
}
.information_container .working_hours .days {
  color: #292C37;
  font-size: 17.8px;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  margin: 5px 0 5px 0;
}
.information_container .working_hours .head {
  color: #000000;
  font-size: 17.8px;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  margin-right: 10px;
}
.information_container .working_hours .time {
  color: #292C37;
  font-size: 17.8px;
  font-family: "Sen", sans-serif;
  font-weight: 400;
}
.information_container .working_hours .open {
  margin-bottom: 5px;
  /* flexbox */
  display: flex;
}
.information_container .working_hours .open div {
  /* flexbox */
  display: flex;
  flex-direction: column;
}
.information_container .working_hours .close {
  /* flexbox */
  display: flex;
}
.information_container .details {
  color: #292C37;
  font-size: 17.8px;
  font-family: "Sen", sans-serif;
  font-weight: 400;
}
.information_container .location div {
  /* flexbox */
  display: flex;
}
.information_container .location div i {
  color: #990C0C;
  padding-top: 4px;
  margin-left: 10px;
}
.information_container .contact_us span {
  margin: 0px 0 5px 0;
}
.information_container .contact_us .social_media {
  /* flexbox */
  display: flex;
}
.information_container .contact_us .social_media i {
  color: #990C0C;
  font-size: 22px;
  margin-left: 10px;
}

/* Map container */
.map_container {
  flex-grow: 1;
  height: 610px;
  border-radius: 0 10px 10px 0;
  background-image: url("/static/forn_el_batoul/media/location.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* return to home page anchor tag */
}
.map_container .return_btn {
  margin: 15px 0 0 15px;
  height: 45px;
  width: 45px;
  background-color: #FFFFFF;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.5s;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}
.map_container .return_btn i {
  color: #181C2E;
  font-size: 14px;
}
.map_container .return_btn:hover {
  background-color: #990C0C;
}

/* small screens */
@media (max-width: 790px) {
  .main_container {
    flex-direction: column-reverse;
  }
  .map_container {
    height: 355px;
    border-radius: 10px 10px 0 0;
  }
  .information_container {
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
  .information_container .container_1, .information_container .working_hours, .information_container .location, .information_container .contact_us {
    width: 87%;
  }
}/*# sourceMappingURL=contact_us.css.map */