
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* main container */
.main-container {
    width: 100%;
    height: 100vh;
    min-height: 620px;

    background-image: url('/static/forn_el_batoul/media/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px 40px 0 30px;

    /* flexbox */
    display: flex;
    flex-direction: column;
}
/* End of main container */

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;

    /* header */ 
    .header {
        /* flexbox */
        display: flex;
        flex-direction: column;

        img {
            align-self: start;
            margin-left: 2px;
        }
        span {
            font-weight: 700;
            font-size: 24px;
            font-family: 'Poppins', sans-serif;
            color: #303030;
            cursor: pointer;
        }
    }

    /* dropdown */
    i {
        font-size: 41px;
    }
}
/* End of navbar */

/* Bottom container */
.bottom-container {
    flex-grow: 1;
    
    /* flexbox */
    display: flex;
    justify-content: space-between;

    /* left container */
    .left-container {
        width: 52%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        /* search engine */
        .search-engine {
            background-color: white;
            height: 40px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            /* flexbox */
            display: flex;

            .search-1 {
                width: 95%;
                display: flex;
                align-items: center;

                input {
                    width: 95%;
                    border: none;
                }
                input:focus {
                    outline: none;
                }
                input::placeholder{
                    font-size: 15px;
                    color: #A7A0A0;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                }
                i {
                    margin: 0 10px 0 10px;
                    color: #c0c0c0;
                }
            }
            .search-2 {
                display: flex;
                align-items: center;
                div {
                    width: 2px;
                    height: 28px;
                    background-color:  #D9D9D9;
                }
                i{
                    align-self: center;
                    margin: 0 15px 0 15px;
                    color: #c0c0c0;
                }
            }
        }
        // End of search engine

        // When focusing on the input outline the whole search engine
        .search-engine:focus-within {
            outline: thin solid rgb(153, 12, 12, 0.3);
            box-shadow: 0px 4px 4px rgb(153, 12, 12, 0.3);
        }

        /* welcoming img */
        .welcoming-img {
            background-image: url('/static/forn_el_batoul/media/main-forn.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            flex-grow: 1;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 10px;

            span {
                display: inline-block;
                color: #FFFBFB;
                font-size: 70px;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                margin: 45px 0 0 40px;
                cursor: pointer;
            }
        }
    }
    /* End of left container */

    /* right container */
    .right-container {
        width: 45%;

        /* flexbox */
        display: flex;
        flex-direction: column;

        .head {
            display: flex;
            justify-content: space-between;
            height: 50px;
            align-items: flex-end;
            span {
                margin-left: 20px;
                color: #000000;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 20px;
                cursor: pointer;
            }
            a {
                position: relative;
                text-decoration: none;
                color: #990C0C;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 20px;
                margin-right: 20px;
            }
            /* underline hover effect */
            a::after {
                content: '';
                position: absolute;
                width: 98%;
                height: 2px;
                bottom: 0;
                right: 0;
                background-color: #990C0C;
                transform-origin: bottom right;
                transition: transform 0.3s ease-out;
                transform: scaleX(0);
            }
            a:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            @media (max-width: 300px){
                span, a{
                    font-size: 18px;
                }
            }
        }
        .food-categories {
            flex-grow: 1;
            margin-top: 20px;
            margin-bottom: 30px;
            
            /* flexbox */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .category{
                background-color: #ffffff;
                flex-grow: 1;
                min-width: 40%;
                border-radius: 15px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                cursor: pointer;
                transition: transform 0.6s;

                /* flexbox */
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .category:hover {
                transform: scale(1.04);
            }
            
        }

        /* category footer */
        .category-footer {
            height: 55px;
            padding: 0 25px 0 25px;

            /* flexbox */
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                /* flexbox */
                display: flex;
                flex-direction: column;

                .category-name {
                    color: #000000;
                    font-weight: 500;
                    font-size: 18px;
                    font-family: 'Poppins', sans-serif;
                    width: 100px;
                }
                .details {
                    color: #5F5F5F;
                    font-size: 15px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                }
                
            }
            i {
                font-size: 25px;
                color: #AEACAC;
            }
        }

        /* category image */
        .category-img {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            flex-grow: 1;
            border-radius: 15px 15px 0 0;
        }

        /* Manakesh */
        .manakesh {
            margin: 0 15px 15px 0;
        }
        /* End of manakesh */

        /* Pizza */
        .pizza {
            margin: 0 0 15px 0;
        }

        /* Pastries */
        .pastries {
            margin: 0 15px 0 0;
        }
    }
    /* End of right container */
}
/* End of bottom container*/

/* small screens */
@media (max-width: 1200px) and (min-width: 600px){
    .bottom-container {
        flex-direction: column;
        justify-content: flex-start;
        .left-container {
            width: 100%;
            min-height: 520px;
            height: 100%;
        }
        .right-container {
            width: 100%;
            .head {
                height: fit-content;
                span, a {
                    margin: 0;
                }
            }
            .food-categories { 
                
                .manakesh, .pizza, .pastries, .snacks{
                    margin: 0 0 20px 0;
                }
                .manakesh, .pastries {
                    margin-right: 10px;
                }
                .pizza, .snacks{
                    margin-left: 10px;
                }
            }
        }
    }
}

@media (max-width: 1200px) and (min-width: 900px){
    .main-container {
        height: fit-content;
    }
    .food-categories {      
        .category{
            min-height: 350px;
        }
    }
}

@media (max-width: 899px) and (min-width: 600px){
    .main-container {
        min-height: 1255px;
    }
    .food-categories { 
        .category {
            min-height: 250px;
        }
    }
}

@media (max-width: 599px){
    .bottom-container {
        justify-content: flex-start;
    }
    .main-container {
        min-height: 100vh;
        padding: 8px 20px 0 20px;
    }
    .bottom-container {
        flex-direction: column;
        .left-container {
            width: 100%;
            .welcoming-img {
                display: flex;
                align-items: center;
                span {
                    margin: 0 0 0 25px;
                    font-size: 32px;
                }
            }
        }
        .right-container {
            width: 100%;
            .head {
                height: fit-content;
                span, a {
                    margin: 0;
                }
            }
            .food-categories { 
                .manakesh, .pizza, .pastries, .snacks{
                    margin: 0 0 20px 0;
                }
                .category {
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    min-height: 80px;
                    .category-footer {
                        width: 75%;
                        height: 100%;
                    }
                    .category-img {
                        border-radius: 15px 0 0 15px;
                        height: 100%;
                        min-width: 80px;
                    }
                }
            }
        }
    }
}

@media (max-width: 599px) and (min-width: 500px){
    .navbar{
        i {
            font-size: 30px;
        }
    }
    .main-container{
        height: 950px;
    }
    .left-container {
        width: 100%;
        height: 100%;
        .welcoming-img {
            span {
                font-size: 32px;
            }
        }
    }
}
@media (max-width: 499px){
    .navbar{
        i {
            font-size: 30px;
        }
    }
    .right-container {
        .food-categories {
            .category-footer {
                padding: 0 15px 0 15px;
            }
        }
    }
    
    .main-container{
        height: 845px;
    }
    .left-container {
        width: 100%;
        height: 100%;
        .welcoming-img {
            span {
                font-size: 50px;
            }
        }
        
    }
}

/* End of small screens */

/* dropdown */
#dropbtn_open {
    color:#990C0C;
}

.dropbtn {
    color: #5F5F5F;
    font-size: 2.1rem;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color:#990C0C;
}

.dropdown {
    margin-top: 0.1rem;
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #990C0C}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
