@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");
/* arabic language font */
.arabic-font {
  font-family: "Almarai", sans-serif;
}

.english-font {
  font-family: "Sen", sans-serif;
}

#main_menu_container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 280px;
  background-image: url("/static/forn_el_batoul/media/forn_background_large.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.slideshow-container {
  padding-top: clamp(30vh, 33%, 56vh);
  width: 100%;
  position: relative;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 24px 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.6;
  transition: opacity 1.5s;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* The dots/bullets/indicators */
  /* On smaller screens, decrease text size */
}
@media (max-width: 499px) {
  .slideshow-container {
    padding-top: clamp(30vh, 79%, 55vh);
  }
}
@media (max-height: 280px) {
  .slideshow-container {
    padding-top: 185px;
  }
}
.slideshow-container .slider_top {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.slideshow-container .slider_top .top_btn {
  height: 45px;
  width: 45px;
  background-color: #FFFFFF;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.5s;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow-container .slider_top .top_btn i {
  color: #181C2E;
  font-size: 14px;
}
.slideshow-container .slider_top .return_btn:hover {
  background-color: #990C0C;
}
.slideshow-container .slider_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}
.slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slideshow-container .wrapper {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.slideshow-container .wrapper_a::after {
  display: block;
  content: "";
  border: 1.5px solid #ffffff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
}
.slideshow-container .active, .slideshow-container .dot:hover {
  background-color: #ffffff;
}
@media only screen and (max-width: 300px) {
  .slideshow-container .prev, .slideshow-container .next {
    font-size: 11px;
  }
}

/* end of slide show container */
/* slide show backgrounds */
.background-0 {
  background-image: url("/static/forn_el_batoul/media/main-forn.jpeg");
}

.background-1 {
  background-image: url("/static/forn_el_batoul/media/forn_1.JPG");
}

.background-2 {
  background-image: url("/static/forn_el_batoul/media/snacks.jpg");
}

.background-3 {
  background-image: url("/static/forn_el_batoul/media/pastries.jpeg");
}

.background-4 {
  background-image: url("/static/forn_el_batoul/media/pizza.jpeg");
}

/* main container */
.top_container {
  margin-left: 24px;
}
@media (max-width: 370px) {
  .top_container {
    margin-left: 15px;
  }
}

/* Head */
#head {
  width: 100%;
  margin-top: 25px;
  /* flexbox */
  display: flex;
}
#head .rating, #head .shipping, #head .time {
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}
#head .rating {
  margin-right: 37px;
}
#head .rating span {
  font-size: 16px;
  color: #181C2E;
  font-weight: 700;
  font-family: "Sen", sans-serif;
  margin-top: 2px;
}
#head .rating img {
  margin-right: 10px;
}
#head .shipping span, #head .time span {
  font-size: 14px;
  color: #181C2E;
  font-weight: 400;
  font-family: "Sen", sans-serif;
  margin-top: 2px;
}
#head .shipping {
  margin-right: 37px;
}
#head .shipping img {
  margin-right: 10px;
}
#head .time i {
  margin-right: 10px;
  color: #990C0C;
  font-size: 23px;
}
@media (max-width: 300px) {
  #head .rating, #head .shipping {
    margin-right: 27px;
  }
}

/* End of head */
/* Fron el betoul Greeting */
.greeting {
  font-size: 20px;
  color: #181C2E;
  font-weight: 700;
  margin: 10px 24px 7px 0;
  display: block;
}

.description {
  color: #292C37;
  font-size: 14px;
  font-weight: 400;
  margin-right: 24px;
  margin-bottom: 5px;
}

/* scrolling cards */
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Safari */
  position: sticky;
  padding-bottom: 10px;
  top: -1px;
  transition: background-color 1s;
  z-index: 2;
}
.scrolling-wrapper .card-1 {
  margin-left: 24px;
}
@media (max-width: 370px) {
  .scrolling-wrapper .card-1 {
    margin-left: 15px;
  }
}
.scrolling-wrapper .card {
  flex: 0 0 auto;
  height: 45px;
  background-color: transparent;
  border: 2px solid #181C2E;
  border-radius: 33px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 10px;
  transition: border-color 1s, background-color 1s;
  text-decoration: none;
  margin-top: 15px;
  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrolling-wrapper .card span {
  color: #181C2E;
  font-weight: 400;
  font-size: 16px;
  margin: 2px 10px 0 10px;
  transition: color 1s;
}
.scrolling-wrapper .card:hover {
  border-color: #990C0C;
  background-color: #990C0C;
}
.scrolling-wrapper .card:hover span {
  color: #FFFFFF;
}

/* styles for when the header is in sticky mode */
.scrolling-wrapper.is-pinned {
  background-color: #990C0C;
  border-radius: 0 0 10px 10px;
}
.scrolling-wrapper.is-pinned .card {
  border-color: #FFFFFF;
}
.scrolling-wrapper.is-pinned .card span {
  color: #ffffff;
}
.scrolling-wrapper.is-pinned .card:hover {
  border-color: #ffffff;
  background-color: #ffffff;
}
.scrolling-wrapper.is-pinned .card:hover span {
  color: #990C0C;
}

/* food categories */
.title {
  color: #990C0C;
  font-size: 23px;
  font-weight: 700;
}

.price_heading {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}

.header {
  width: 100%;
  padding: 0 11px 6px 5px;
  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choice {
  width: 100%;
  min-height: 45px;
  background-color: #F4F4F4;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0px 20px 0px 20px;
  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choice div {
  display: flex;
  flex-direction: column;
}
.choice .choice_name {
  color: #000000;
  font-size: 19px;
  font-weight: 400;
  text-transform: capitalize;
  min-height: -moz-min-content;
  min-height: min-content;
}
.choice .choice_description {
  color: #55596A;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 6px;
}
.choice .choice_price {
  color: #303030;
  font-size: 18px;
  font-weight: 400;
  font-family: "Sen", sans-serif;
  white-space: nowrap;
  margin-left: 10px;
}
@media (max-width: 350px) {
  .choice .choice_name {
    font-size: 16px;
  }
  .choice .choice_price {
    font-size: 13px;
    margin-left: 7px;
  }
}

/* small screens */
@media (max-width: 545px) and (min-width: 350px) {
  .choice {
    padding: 0 13px 0 13px;
  }
}
@media (max-width: 349px) {
  .choice {
    padding: 0 10px 0 10px;
  }
}
/* Change price (Admin) */
.change_price_container {
  /* flexbox */
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 5px 0 5px 3px;
}
@media (max-width: 390px) {
  .change_price_container {
    width: 75px;
  }
}
.change_price_container input[type=text] {
  margin-bottom: 5px;
}
.change_price_container input[type=submit] {
  font-size: 14px;
  font-weight: 400;
  font-family: "Sen", sans-serif;
  border: none;
  height: 32px;
  background-color: #b41010;
  color: white;
  filter: drop-shadow(0px 8px 10px rgba(153, 12, 12, 0.14)) drop-shadow(0px 3px 14px rgba(153, 12, 12, 0.12)) drop-shadow(0px 4px 5px rgba(153, 12, 12, 0.2));
}

/* End of change price (Admin) */
/* Manakish food category */
.category {
  scroll-margin-top: 80px;
  margin: 20px 24px 0 24px;
  padding-bottom: 10px;
}
@media (max-width: 370px) {
  .category {
    margin: 20px 15px 0 15px;
  }
}

/* End of manakish food category */
/* pizza */
.header_2 {
  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 20px 10px;
}
@media (max-width: 360px) {
  .header_2 {
    padding: 15px 0 20px 0;
  }
}
.header_2 .sizes {
  /* flexbox */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_2 .sizes span {
  color: #181C2E;
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}
.header_2 .sizes button {
  background: #F0F5FA;
  height: 45px;
  border: none;
  border-radius: 50px;
  color: #121223;
  font-weight: 400;
  font-size: 16px;
  margin-right: 10px;
  padding: 0 20px 0 20px;
}
@media (max-width: 410px) {
  .header_2 .sizes button {
    padding: 0 15px 0 15px;
    width: 100%;
  }
}
@media (max-width: 360px) {
  .header_2 .sizes span {
    font-size: 14px;
  }
  .header_2 .sizes button {
    font-size: 14px;
    margin-right: 5px;
  }
}
@media (max-width: 310px) {
  .header_2 .sizes button {
    font-size: 12px;
  }
}

/* price */
.price {
  padding-top: 5px;
  color: #181C2E;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 320px) {
  .price {
    font-size: 16.5px;
  }
}
/* for small screens */
.small_screen {
  display: none;
}

@media (max-width: 627px) {
  .header_2 {
    justify-content: flex-start;
  }
  .header_2 .large_screen {
    display: none;
  }
  .header_2 .sizes {
    width: 100%;
  }
  .small_screen {
    display: block;
  }
}
/* end of pizza category */
#small, #medium, #large {
  transition: color 0.3s, background-color 0.3s;
}

#small.selected-size, #medium.selected-size, #large.selected-size {
  background-color: #990C0C;
  color: white;
}

/* dropdown */
.dropbtn {
  color: #5F5F5F;
  font-size: 2.1rem;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: #990C0C;
}

.dropdown {
  margin-top: 0.1rem;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: 0 30px 0 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #990C0C;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

#done {
  display: none;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Sen", sans-serif;
  border: none;
  height: 32px;
  background-color: #101bb4;
  color: white;
  margin: 0 10px 15px 0;
  border-radius: 5px;
  width: 50px;
}/*# sourceMappingURL=main_menu.css.map */